@import "tailwindcss";

@theme {
  /* ✅ Figma (verde principal) */
  --color-brand-base: #1f6f43;
  --color-brand-dark: #124b2b;

  --color-success: #19ad70;

  /* ✅ fundos (bem parecido com as telas) */
  --color-app-bg: #f8f9fa;

  /* opcionais (se quiser usar) */
  --color-green-dark: #15803d;
  --color-green-base: #16a34a;
  --color-green-light: #e0fae9;
}

:root {
  font-family: var(--font-inter);
}

html,
body {
  height: 100%;
}